<title>Admin Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= render "layouts/stylesheets"%>

<div class="bg-dark dk" id="wrap">
  <%= render "admins/top"%>
  <div id="left">
    <div class="media user-media bg-dark dker">
      <div class="user-media-toggleHover">
        <span class="fa fa-user"></span>
      </div>
      <div class="user-wrapper bg-dark">
        <a class="user-link" href="">
          <%= image_tag('user.gif',class: "media-object img-thumbnail user-img")%>
          <span class="label label-danger user-label"><%= current_admin.sign_in_count%></span>
        </a>
        <div class="media-body">
          <h5 class="media-heading">SUPER ADMIN</h5>
          <ul class="list-unstyled user-info">
            <li>ADMIN</li>
            <li>Last Access : <br>
              <small><i class="fa fa-calendar"></i>&nbsp;<%= current_admin.last_sign_in_at.strftime("%d %B %t at %I:%M %p")%></small>
              <%#= link_to "(Edit Profile)" ,edit_user_registration_path%>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- #menu -->
    <ul id="menu" class="bg-blue dker">
      <li class="nav-divider"></li>
      <li class="">
        <%= link_to admins_path do%>
          <i class="fa fa-dashboard"></i>
          <span class="link-title">&nbsp;Dashboard</span>
        <%end%>
      </li>
      <li>
        <%= link_to admin_schools_path(current_admin) do%>
          <i class="fa fa-tasks"></i>
          <span class="link-title">Schools</span>
        <%end%>
      </li>
      <li class="">
        <%= link_to admin_teachers_path(current_admin) do%>
          <i class="fa fa-tasks"></i>
          <span class="link-title">Teachers</span>
        <%end%>
      </li>
      <li class="">
        <%= link_to admin_students_path(current_admin) do%>
          <i class="fa fa-pencil"></i>
          <span class="link-title">Students</span>
        <%end%>
      </li>
      <li>
        <%= link_to admin_vendors_path(current_admin) do%>
          <i class="fa fa-table"></i>
          <span class="link-title">Vendors</span>
        <%end%>
      </li>
      <li class="active">
        <%= link_to announcements_path do %>
          <i class="fa fa-table"></i>
          <span class="link-title">Announcement</span>
        <% end %>
      </li>
      <li>
        <a href="">
          <i class="fa fa-font"></i>
          <span class="link-title">Total Earning</span>
        </a>
      </li>
      <li class="nav-divider"></li>
    </ul>
    <!-- /#menu -->
  </div>
  <!-- /#left -->
  <div id="content">
    <div class="outer">
      <div class="inner bg-light lter">
        <div>
          <h3>Announcement <%= link_to 'New Announcement', new_announcement_path, class: "btn btn-primary pull-right" %></h3>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th colspan="3"></th>
              </tr>
              </thead>
              <% @announcements.each do |announcement|%>
                <tbody>
                <tr>
                  <td><%= announcement.title %></td>
                  <td><%= announcement.description %></td>
                  <td><%= link_to 'Show', announcement %></td>
                  <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
                  <td><%= link_to 'Destroy', announcement, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </tr>
                </tbody>
              <%end%>
            </table>
          </div>
        </div>
        <hr>
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.outer -->
  </div>
  <!-- /#content -->
</div>
<!-- /#wrap -->
<footer class="Footer bg-dark dker">
  <p>© 2018.Eduoracle Educational Services Pvt. Ltd. All rights reserved.</p>
</footer>
<!-- /#footer -->

<%= render "layouts/javascripts"%>