<div id="left">
        <div class="media user-media bg-dark dker">
          <div class="user-media-toggleHover">
            <span class="fa fa-user"></span>
        </div>
        <div class="user-wrapper bg-dark">
            <a class="user-link" href="">
                <%= image_tag('user.gif',class: "media-object img-thumbnail user-img")%>
                <span class="label label-danger user-label"><%= current_admin.sign_in_count%></span>
            </a>
            <div class="media-body">
              <h5 class="media-heading">SUPER ADMIN</h5>
              <ul class="list-unstyled user-info">
                <li>ADMIN</li>
                <li>Last Access : <br>
                  <small><i class="fa fa-calendar"></i>&nbsp;<%= current_admin.last_sign_in_at.strftime("%d %B %t at %I:%M %p")%></small>
                  <%#= link_to "(Edit Profile)" ,edit_user_registration_path%>
              </li>
          </ul>
      </div>
  </div>
</div>
<!-- #menu -->
<ul id="menu" class="bg-blue dker">
    <li class="nav-divider"></li>  
    <li <%if active == 'Dashboard'%> class="active" <%end%>>
       <%= link_to admins_path do%>
       <i class="fa fa-dashboard"></i>
       <span class="link-title">&nbsp;Dashboard</span>
       <%end%>
   </li>
   <li <%if active == 'Schools'%> class="active" <%end%>>
    <%= link_to admin_schools_path(current_admin) do%>
    <i class="fa fa-tasks"></i>
    <span class="link-title">Schools</span>
    <%end%>
</li>
<li <%if active == 'Teachers'%> class="active" <%end%>>
    <%= link_to admin_teachers_path(current_admin) do%>
    <i class="fa fa-tasks"></i>
    <span class="link-title">Teachers</span>
    <%end%>
</li>
<li <%if active == 'Students'%> class="active" <%end%>>
    <%= link_to admin_students_path(current_admin) do%>
    <i class="fa fa-pencil"></i>
    <span class="link-title">Students</span>
    <%end%>
</li>
<li <%if active == 'Vendors'%> class="active" <%end%>>
    <%= link_to admin_vendors_path(current_admin) do%>
    <i class="fa fa-table"></i>
    <span class="link-title">Vendors</span>
    <%end%>
</li>
  <li <%if active == 'Announcement'%> class="active" <%end%> >
    <%= link_to announcements_path do %>
      <i class="fa fa-table"></i>
      <span class="link-title">Announcement</span>
    <% end %>
  </li>
<li>
  <li <%if active == 'compose_test'%> class="active" <%end%> >
    <%= link_to admin_compose_test_path(current_admin) do %>
      <i class="fa fa-table"></i>
      <span class="link-title">Compose Test</span>
    <% end %>
  </li>
<li>
  
    <a href="">
      <i class="fa fa-font"></i>
      <span class="link-title">Total Earning</span>
  </a>
</li>
<li class="nav-divider"></li>
</ul>
<!-- /#menu -->
</div>
<!-- /#left -->