<div id="courses">
	<div class="container-fluid courses">
		<div class="row">
			<div class="col-md-12 bhoechie-tab-container">
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 bhoechie-tab-menu">
				  <div class="list-group">
				  	<%if @first.present? %>
					<a href="#" class="list-group-item active text-center">
					   <h4 class="glyphicon glyphicon-credit-card"></h4><br/>
					  <%@degree = Degree.find(@first.degree_id) if @first.degree_id.present?%>
					  <%= @degree.degree_name if @degree.present?%>
					</a>
					<%else%>
					<%end%>
					<%if @courses.present?%>
						<% @courses.each do |cou|%>
							<%@degree = Degree.find(cou.degree_id) if cou.degree_id.present?%>
							<a href="#" class="list-group-item text-center">
							  <h4 class="glyphicon glyphicon-credit-card"></h4><br/><%= @degree.degree_name if @degree.present?%>
							</a>
						<%end%>
					<%else%>
					<%end%>
				  </div>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 bhoechie-tab">
					<div class="bhoechie-tab-content active">
						<div class="row conserti">
							<div class="col-sm-12 consw">
								<%if @course_name.present? %>
									<% @course_name.each do |c_name|%>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg3 ort">
									<div class="eNGlbox" data-toggle="modal" data-target="#myModalpopup">
										<h1 class="glyphicon glyphicon-credit-card" style="color:#55518a"></h1>
										<h4 style="margin-top: 0;color:#55518a"><%=c_name.course_name %></h4>
										</div>
									</div>
									<%end%>
								<%else%>
								<%end%>
							</div>
						</div>
					</div>
					
					<% if @courses.present? %>
					<% @courses.each do |c| %>
						<% @c_names = c.course_names if c.course_names.present? %>
						<div class="bhoechie-tab-content">
							<div class="row">
								<div class="col-sm-12">
									<% if @c_names.present? %>
										<% @c_names.each do |cr|%>
											<div class="col-xs-12 col-sm-3 col-md-3 col-lg3 ort">
												<div class="eNGlbox" data-toggle="modal" data-target="#myModalpopup">
													<h1 class="glyphicon glyphicon-credit-card" style="color:#55518a"></h1>
													<h4 style="margin-top: 0;color:#55518a"><%=cr.course_name%></h4>
												</div>
											</div>
										<%end%>
									<%else%>
									<%end%>
								</div>
							</div>
						</div>
					<%end%>
					<%else%>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "bootstrap.min" %>
<script>
	$(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
});
</script>