<div id="cutoff">
	<div class="container">
		<div class="row overviewBox">
			<h3 class="elihe"></h3>
			<div class="tabOx">
				<div class="table-responsive">          
					<table class="table table-striped">
						<thead>
						  <tr>
						  	<th>STREAM NAME</th>
							<th>DEGREE NAME</th>
							<th>TYPE</th>
							<th>TUITION FEES</th>
						  </tr>
						</thead>
						<tbody>
							<% if @course_detail.present? %>
								<% @course_detail.each do |course|%>
									<tr>
										<td>
										<% @stream = Stream.find(course.stream_id) if course.stream_id.present? %>
										<%= @stream.stream_name.titleize if @stream.present?%></td>
										<td>
										<% @degree = Degree.find(course.degree_id) if course.degree_id.present?%>
										<%= @degree.degree_name.titleize if @degree.present?%>  <%#= course.course_name.titleize %></td>
										<% if course.course_type == true%>
											<td>Regular</td>
										<% elsif course.course_type == false%>
											<td>Correspondence</td>
										<%else%>
											<td>NA</td>
										<%end%>
										<td><%=course.course_fee%></td>
									</tr>
						 		<%end%>
						 	<%else%>
							  <td>No Data Yet</td>
							  <td>No Data Yet</td>
							  <td>No Data Yet</td>
							  <td>No Data Yet</td>
						 	<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row overviewBox">
			<span class="overview">Contact Details of <%= @college.name if @college.name.present? %>,
				<% @city = City.find(@college.city_id) if @college.city_id.present?%>
				<%= @city.name.capitalize if @city.present?%>
			</span>
			<hr>
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
						<p class="contact">Contact No:&nbsp;<span class="Detastpd"> <%= @college.phone_no if @college.phone_no.present? %></span></p>
						<p class="contact"> Email ID: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="Detastpd"><%= @college.email if @college.email.present? %></span></p>
						<p class="contact"> Website:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="Detastpd"><a target="_blank" class="HanD" href="<%= @college.website%>"><%= @college.website if @college.website.present?%></a></span></p>
						<p class="contact"> Address: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="Detastpd"><%= @college.address if @college.address.present?%></span></p>
					</div>
					<div class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>