<%= stylesheet_link_tag  "bootstrap.min" %>

<div id="campus">
	<div class="container overviewBox">
		<span class="overview">Infrastructure</span>
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 col-xs-12 col-md-9 col-lg-9">
					<p><% if @facilities.present? %>
					<% #@facilities.each do |fac| %>
					<p class="crdtxt"><%=@facilities.first.title %> </p>
					<p class="crdtxt"><%=@facilities.first.description %> </p>
					<%#end%>
					<%else%>
						<p class="crdtxt">abcd</p>
					<%end%> </p>
				</div>
			</div>
		</div>
	</div>

	<div class="container CollegeBox">
		<span class="overview">Facilities</span>
		<hr>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<div class="jcarousel-wrapper">
				<div class="jcarousel" >
					<ul>
						<% if @facilities.present? %>
						<%# @facilities.each do |fac| %>
							<%if @facilities.first.boys_hostel.present?%>
								<li><%= image_tag('bhostel.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Boys Hostel</p></li>
							<%end%>
							<%if @facilities.first.girls_hostel.present?%>
								<li><%= image_tag('ghostel.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Girls Hostel</p></li>
							<%end%>
							<%if @facilities.first.library.present?%>
								<li><%= image_tag('library.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Library</p></li>
							<%end%>
							<%if @facilities.first.sports.present?%>
								<li><%= image_tag('sports.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Sports</p></li>
							<%end%>
							<%if @facilities.first.gym.present?%>
								<li><%= image_tag('gym.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Gym</p></li>
							<%end%>
							<%if @facilities.first.s_pool.present?%>
								<li><%= image_tag('s_pool.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Swimming Pool</p></li>
							<%end%>
							<%if @facilities.first.p_ground.present?%>
								<li><%= image_tag('p_ground.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Play Ground</p></li>
							<%end%>
							<%if @facilities.first.canteen.present?%>
								<li><%= image_tag('canteen.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Canteen</p></li>
							<%end%>
							<%if @facilities.first.classroom.present?%>
								<li><%= image_tag('classroom.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Classrooms</p></li>
							<%end%>
							<%if @facilities.first.placement.present?%>
								<li><%= image_tag('placement.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Placements</p></li>
							<%end%>
							<%if @facilities.first.club.present?%>
								<li><%= image_tag('club.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Club</p></li>
							<%end%>
							<%if @facilities.first.h_centre.present?%>
								<li><%= image_tag('h_centre.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Health Centre</p></li>
							<%end%>
							<%if @facilities.first.yoga.present?%>
								<li><%= image_tag('yoga.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Yoga</p></li>
							<%end%>
							<%if @facilities.first.auditorium.present?%>
								<li><%= image_tag('auditorium.jpeg',class: "img-responsive schBuilding")%><p class="crdtxt">Auditorium</p></li>
							<%end%>
						<%#end%>
						<%else%>
						  No Facilities Provided
						<%end%>
					</ul>
				</div>
				<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
				<a href="#" class="jcarousel-control-next">&rsaquo;</a>
			</div>
		</div>
		<span class="overview">Infrastructure Images</span>
		<div class="factvdt">
          	<div class="row">
          		<% if @facilities.present? %>
		          	<% #@facilities.each do |fac| %>
			            <div class="col-md-4 text-center">
			               	<%if @facilities.first.image1.present?%>
								<%= image_tag @facilities.first.image1, class: "img-responsive IMGdgcust"%>
							<%end%>
			            </div> 
			            <div class="col-md-4 text-center">
			                <%if @facilities.first.image2.present?%>
								<%= image_tag @facilities.first.image2, class: "img-responsive IMGdgcust"%>
							<%end%>
			            </div> 
			            <div class="col-md-4 text-center">
			                <%if @facilities.first.image3.present?%>
								<%= image_tag @facilities.first.image3, class: "img-responsive IMGdgcust"%>
							<%end%>
			            </div>
			        <%#end%>
		        <%else%>
		          No Infrastructure Images
	            <%end%>
        	</div> 
        </div> 
	</div>
	<div class="container CollegeBox">
		<span class="overview">Similar Schools</span>
		<hr>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<div class="jcarousel-wrapper">
				<div class="jcarousel" >
					<ul>
					<% @all_college.each do |img| %>
						<%if img.profile_image.present?%>
							<li><a href="/users/show?id=<%= img.id %>"><%= image_tag img.profile_image, class: "img-responsive schBuilding"%><%= img.name %></a></li>
						<%else%>
							<li><a href="/users/show?id=<%= img.id %>">
							<%= image_tag("logo1.png",class: "img-responsive schBuilding")%></li>
						<%end%>
					<%end%>
					</ul>
				</div>
				<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
				<a href="#" class="jcarousel-control-next">&rsaquo;</a>
			</div>
		</div>
	</div>
</div>
<%= javascript_include_tag "school_show" %>
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "bootstrap.min" %>