<div id="campus">
	<div class="container overviewBox">
		<span class="overview">Infrastructure</span>
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 col-xs-12 col-md-9 col-lg-9">
					<p><% if @facilities.present? %>
					<p class="crdtxt"><strong><%=@facilities.title %></strong> </p>
					<p class="crdtxt"><%=@facilities.description %> </p>
					<%else%>
						<p class="crdtxt">abcd</p>
					<%end%> </p>
				</div>
			</div>
		</div>
	</div>

	<div class="container CollegeBox">
		<span class="overview">Facilities</span>
		<hr>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<div class="jcarousel-wrapper">
				<div class="jcarousel" >
					<ul>
						<% if @facilities.present? %>
						<%# @facilities.each do |fac| %>
							<%if @facilities.boys_hostel.present?%>
								<li><%= image_tag("bhostel.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">BOYS HOSTEL</center> </li>
							<%end%>
							<%if @facilities.girls_hostel.present?%>
								<li><%= image_tag("ghostel.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">GRLS HOSTEL</center></p></li>
							<%end%>
							<%if @facilities.library.present?%>
								<li><%= image_tag("library.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">LIBRARY</center></li>
							<%end%>
							<%if @facilities.sports.present?%>
								<li><%= image_tag("sports.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">SPORTS</center></li>
							<%end%>
							<%if @facilities.gym.present?%>
								<li><%= image_tag("gym.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">GYM</center></li>
							<%end%>
							<%if @facilities.s_pool.present?%>
								<li><%= image_tag("s_pool.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">SWIMMING POOL</center></li>
							<%end%>
							<%if @facilities.p_ground.present?%>
								<li><%= image_tag("p_ground.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">PLAY GROUND</center></li>
							<%end%>
							<%if @facilities.canteen.present?%>
								<li><%= image_tag("canteen.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">CANTEEN</center></li>
							<%end%>
							<%if @facilities.classroom.present?%>
								<li><%= image_tag("classroom.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">CLASS ROOMS</center></li>
							<%end%>
							<%if @facilities.placement.present?%>
								<li><%= image_tag("placement.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">PLACEMENTS</center></li>
							<%end%>
							<%if @facilities.club.present?%>
								<li><%= image_tag("club.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">CLUB</center></li>
							<%end%>
							<%if @facilities.h_centre.present?%>
								<li><%= image_tag("h_centre.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">HEALTH CENTRE</center></li>
							<%end%>
							<%if @facilities.yoga.present?%>
								<li><%= image_tag("yoga.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">YOGA</center></li>
							<%end%>
							<%if @facilities.auditorium.present?%>
								<li><%= image_tag("auditorium.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">AUDITORIUM</center></li>
							<%end%>
						<%#end%>
						<%else%>
						  No Facilities Provided
						<%end%>
					</ul>
				</div>
				<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
				<a href="#" class="jcarousel-control-next">&rsaquo;</a>
			</div>
		</div>
		<span class="overview">Infrastructure Images</span>
		<div class="factvdt">
          	<div class="row">
          		<% if @facilities.present? %>
		          	<% #@facilities.each do |fac| %>
			            <div class="col-md-4 text-center">
			               	<%if @facilities.image1.present?%>
								<%= image_tag @facilities.image1, class: "img-responsive IMGdgcust"%>
							<%end%>
			            </div> 
			            <div class="col-md-4 text-center">
			                <%if @facilities.image2.present?%>
								<%= image_tag @facilities.image2, class: "img-responsive IMGdgcust"%>
							<%end%>
			            </div> 
			            <div class="col-md-4 text-center">
			                <%if @facilities.image3.present?%>
								<%= image_tag @facilities.image3, class: "img-responsive IMGdgcust"%>
							<%end%>
			            </div>
			        <%#end%>
		        <%else%>
		          No Infrastructure Images
	            <%end%>
        	</div> 
        </div> 
	</div>
	<div class="container CollegeBox">
		<span class="overview">Similar Schools</span>
		<hr>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<div class="jcarousel-wrapper">
				<div class="jcarousel" >
					<ul>
						<% if @all_college.present? %>
							<% @all_college.each do |img| %>
								<%if img.profile_image.present?%>
									<li><a href="/users/show?id=<%= img.id %>"><%= image_tag img.profile_image, class: "img-responsive schBuilding"%><%= img.name %></a></li>
								<%else%>
									<li><a href="/users/show?id=<%= img.id %>">
									<%= image_tag("logo1.png",class: "img-responsive schBuilding")%></a></li>
								<%end%>
							<%end%>
						<%else%>
							No Similar Colleges
						<%end%>
					</ul>
				</div>
				<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
				<a href="#" class="jcarousel-control-next">&rsaquo;</a>
			</div>
		</div>
	</div>
</div>