<div id="campus">
	<div class="container overviewBox">
		<span class="overview">Infrastructure</span>
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 col-xs-12 col-md-9 col-lg-9">
					<p><% if @facilities.present? %>
					<p class="crdtxt"><strong><%=@facilities.title %></strong> </p>
					<p class="crdtxt"><%=@facilities.description %> </p>
					<%else%>
						<p class="crdtxt">abcd</p>
					<%end%> </p>
				</div>
			</div>
		</div>
	</div>

	<div class="container CollegeBox">
		<span class="overview">Infrastructure Images</span>
		<div class="factvdt">
          	<div class="row">
          		<% if @facilities.present? %>
		            <div class="col-md-3 text-center">
		               	<%if @facilities.image1.present?%>
							<%= image_tag @facilities.image1, class: "img-responsive IMGdgcust"%>
						<%end%>
		            </div> 
		            <div class="col-md-3 text-center">
		                <%if @facilities.image2.present?%>
							<%= image_tag @facilities.image2, class: "img-responsive IMGdgcust"%>
						<%end%>
		            </div> 
		            <div class="col-md-3 text-center">
		                <%if @facilities.image3.present?%>
							<%= image_tag @facilities.image3, class: "img-responsive IMGdgcust"%>
						<%end%>
		            </div>
		            <div class="col-md-3 text-center">
		                <%if @facilities.image4.present?%>
							<%= image_tag @facilities.image4, class: "img-responsive IMGdgcust"%>
						<%end%>
		            </div>
		        <%else%>
		          No Infrastructure Images
	            <%end%>
        	</div> 
        </div> 
	</div>
	<div class="container CollegeBox">
		<span class="overview">Facilities</span>
		<hr>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<% if @facilities.present? %>
					<div class="item active">
						<div class="row">
							<div class="col-sm-12">
									<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
									<div class="building">
										<%if @facilities.boys_hostel.present?%>
											<%= image_tag("icon4.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">BOYS HOSTEL</center>
										<%end%>
									</div>
								</div>
									<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
									<div class="building">
										<%if @facilities.girls_hostel.present?%>
											<%= image_tag("icon5.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">GRLS HOSTEL</center>

										<%end%>
									</div>
								</div>
									<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
									<div class="building">
										<%if @facilities.library.present?%>
											<%= image_tag("icon14.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">LIBRARY</center>
										<%end%>
									</div>
								</div>
									<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
										<div class="building">
											<%if @facilities.sports.present?%>
												<%= image_tag("icon12.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">SPORTS</center>
											<%end%>
											
												
										</div>
									</div>
										<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
										<div class="building">
											<%if @facilities.gym.present?%>
												<%= image_tag("icon2.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">GYM</center>
											<%end%>	
										</div>
									</div>
										<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
										<div class="building">
											<%if @facilities.s_pool.present?%>
												<%= image_tag("icon1.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">SWIMMING POOL</center>
											<%end%>	
										</div>
									</div>
							</div>
						</div>
					</div>
				<%end%>
				<% if @facilities.present? %>

					
						<div class="item">
							<div class="row">
								<div class="col-sm-12">
									
										<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
										<div class="building">
											<%if @facilities.classroom.present?%>
												<%= image_tag("icon10.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">CLASS ROOMS</center>
											<%end%>
										</div>
									</div>
										<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
										<div class="building">
											<%if @facilities.placement.present?%>
												<%= image_tag("icon13.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">PLACEMENTS</center>
											<%end%>
											
											
										</div>
									</div>
										<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
										<div class="building">
											<%if @facilities.club.present?%>
												<%= image_tag("icon11.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">CLUB</center>
											<%end%>
										</div>
									</div>
										<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
										<div class="building">
											<%if @facilities.h_centre.present?%>
												<%= image_tag("icon3.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">HEALTH CENTRE</center>
											<%end%>
										</div>
					
					 </div>
					 	<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
										<div class="building">
											<%if @facilities.p_ground.present?%>
												<%= image_tag("icon6.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">PLAY GROUND</center>
											<%end%>
											
											
										</div>
									</div>
										<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
										<div class="building">
											<%if @facilities.canteen.present?%>
												<%= image_tag("icon9.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">CANTEEN</center>
											<%end%>
										</div>
									</div>
					</div>
					</div>
					</div>	
					
					<div class="item">
						<div class="row">
							<div class="col-sm-12">
									<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
									<div class="building">
										<%if @facilities.yoga.present?%>
											<%= image_tag("icon7.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">YOGA</center>
										<%end%>
									</div>
								</div>
								<div class="col-sm-2 col-xs-6 col-md-2 col-lg-2">
									<div class="building">
										<%if @facilities.auditorium.present?%>
											<%= image_tag("icon8.png",:size => "260x180",class: "img-responsive schBuilding")%><center class="crdtxt">AUDITORIUM</center>
										<%end%>

									</div>
								</div>
							</div>
						</div>
					</div>
				<%end%>
				<!-- <a class="left carousel-control sliDerbacktrans" href="#myCarousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control sliDerbacktrans" href="#myCarousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a> -->
			</div>
		</div>
	</div>
	<div class="container CollegeBox">
		<span class="overview">Similar Colleges</span>
		<hr>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<%if @all_college.present? %>
					<div class="item active">
						<div class="row">
							<div class="col-sm-12">
								<% @all_college.each do |co|%>
								<div class="col-sm-3 col-xs-6 col-md-3 col-lg-3">
										<div class="building">
											<% if co.profile_image.present? %>
												<a href="/users/show?id=<%= co.id %>">
													<%= image_tag co.profile_image, class: "img-responsive schBuilding"%>
													<center><%= co.name %></center>
												</a>
											<%else%>
												<a href="/users/show?id=<%= co.id %>">
													<%= image_tag("logo.png",class: "img-responsive schBuilding")%>
													<center><%= co.name %></center>
												</a>
											<%end%>
										</div>
									</div>
								<%end%>
							</div>
						</div>
					</div>
				<%end%>
				<%if @r_college.present? %>
					<% @r_college.each do |co|%>
						<div class="item">
							<div class="row">
								<div class="col-sm-12">
									<div class="col-sm-3 col-xs-6 col-md-3 col-lg-3">
										<div class="building">
											<% if co.profile_image.present? %>
												<a href="/users/show?id=<%= co.id %>">
													<%= image_tag co.profile_image, class: "img-responsive schBuilding"%>
													<center><%= co.name %></center>
												</a>
											<%else%>
												<a href="/users/show?id=<%= co.id %>">
													<%= image_tag("logo.png",class: "img-responsive schBuilding")%>
												<center><%= co.name %></center>
												</a>
											<%end%>
										</div>
									</div>
								</div>
							</div>
						</div>
					<%end%>
				<%end%>
				<!-- <a class="left carousel-control sliDerbacktrans" href="#myCarousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control sliDerbacktrans" href="#myCarousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a> -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
  $('#media').carousel({
     interval: 3000
  });
});

</script>