<div id="overview" class="active">
	<div class="row conserti">
		<div class="col-sm-12 consw">
			<div class="col-sm-12 col-xs-12 col-md-9 col-lg-9 ort">
				<div class="overviewBox">
					<span class="overview">Overview</span>
					<hr>
					<div class="row">
						<div class="col-sm-12">
							<div class="col-sm-12 col-xs-12 col-md-9 col-lg-9">
								<% if @college.overviews.present? %>
								<strong><p class="crdtxt"><%=@college.overviews.first.title %> </p></strong>
								<p class="crdtxt"><%=@college.overviews.first.description %> </p>
								<%else%>
								<p class="crdtxt">abcd</p>
								<%end%>
							</div>
						</div>
					</div>
				</div>
				
				<div class="overviewBox">
					<span class="overview">Videos</span>
					<hr>
					<div class="row">
						<div class="col-sm-12">
							<% if @r_videos.present? %>
								<% @r_videos.each do |video| %>
									<div class="col-sm-4 col-xs-12 col-md-4 ">
										<div class="img-thumbnail">
											<p class="desc"><%= video.title%></p>
											<%if video.youtube_url.present?%>
								                <%if video.youtube_url[/youtu\.be\/([^\?]*)/].present?%>
								                  <% youtube_id = $1 %>
								                <%else  video.youtube_url[/^.*((v\/)|(embed\/)|(watch\?))\??v?=?([^\&\?]*).*/].present?%>
								                  <% youtube_id = $5%>
								                <%end%>
								                <%@yutube = "http://www.youtube.com/embed/#{ youtube_id }?rel=0&autoplay=0"%>
								                <iframe width="100%" height="200" src="<%=@yutube%>&showinfo=0&controls=0&rel=0&amp"></iframe>
								            <%end%>
											<%#= video_tag video.video, width: "100%",height: "200", autoplay: true,:loop => true,muted: true%>
											<p class="desc"><%= video.description%></p>	
										</div>
									</div>
								<%end%>
							<%else%>
								<div class="col-sm-4 col-xs-12 col-md-4 ">
									<div class="img-thumbnail">
										<iframe width="100%" height="200" src="https://www.youtube.com/embed/yceDjUbDwVE?rel=0&amp;showinfo=0&autoplay=0&controls=0"></iframe>
									</div>
								</div>
								<div class="col-sm-4 col-xs-12 col-md-4 ">
									<div class="img-thumbnail">
										<iframe width="100%" height="200" src="https://www.youtube.com/embed/82zMLZt_UGc?rel=0&amp;showinfo=0&autoplay=0&controls=0"></iframe>
									</div>
								</div>
								<div class="col-sm-4 col-xs-12 col-md-4 ">
									<div class="img-thumbnail">
										<iframe width="100%" height="200" src="https://www.youtube.com/embed/0cEKR4X1kVs?rel=0&amp;showinfo=0&autoplay=0&controls=0"></iframe>
									</div>
								</div>
							<%end%>
						</div>
					</div>
				</div>
				<div class="overviewBox">
					<span class="overview">Similar Colleges</span>
					<hr>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<%if @all_college.present? %>
								<div class="item active">
									<div class="row">
										<div class="col-sm-12">
										<% @all_college.each do |co|%>
											<div class="col-sm-3 col-xs-6 col-md-3 col-lg-3">
												<div class="building">
													<% if co.profile_image.present? %>
														<a href="/users/show?id=<%= co.id %>">
															<%= image_tag co.profile_image, class: "img-responsive schBuilding"%>
															<center><%= co.name %></center>
														</a>
													<%else%>
														<a href="/users/show?id=<%= co.id %>">
															<%= image_tag("logo.png",class: "img-responsive schBuilding")%>
														<center><%= co.name %></center>
														</a>
													<%end%>
												</div>
											</div>
											<%end%>
										</div>
									</div>
								</div>
							<%end%>
							<%if @r_college.present? %>
								<% @r_college.each do |co|%>
									<div class="item">
										<div class="row">
											<div class="col-sm-12">
												<div class="col-sm-3 col-xs-6 col-md-3 col-lg-3">
													<div class="building">
														<% if co.profile_image.present? %>
															<a href="/users/show?id=<%= co.id %>">
																<%= image_tag co.profile_image, class: "img-responsive schBuilding"%>
																<center><%= co.name %></center>
															</a>
														<%else%>
															<a href="/users/show?id=<%= co.id %>">
																<%= image_tag("logo.png",class: "img-responsive schBuilding")%>
															<center><%= co.name %></center>
															</a>
														<%end%>
													</div>
												</div>
											</div>
										</div>
									</div>
								<%end%>
							<%end%>
							<!-- <a class="left carousel-control sliDerbacktrans" href="#myCarousel" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control sliDerbacktrans" href="#myCarousel" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
								<span class="sr-only">Next</span>
							</a> -->
						</div>
					</div>
				</div>
				<div class="overviewBox">
					<span class="overview">Contact Details of <%= @college.name if @college.name.present? %>,
						<% @city = City.find(@college.city_id) if @college.city_id.present?%>
						<%= @city.name.capitalize if @city.present?%>
					</span>
					<hr>
					<div class="row ">
						<div class="col-sm-12 col-md-12">
							<div class="col-sm-12 col-xs-12 col-md-5 col-lg-5">
								<p class="contact">Contact No:&nbsp;<span class="Detastpd"> <%= @college.phone_no if @college.phone_no.present?%></span></p>
								<p class="contact"> Email ID: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="Detastpd"><%= @college.email if @college.email.present?%></span></p>
								<p class="contact"> Website:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="Detastpd"><a target="_blank" class="HanD" href="<%= @college.website%>"><%= @college.website if @college.website.present?%></a></span></p>
								<p class="contact"> Address: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="Detastpd"><%= @college.address if @college.address.present?%></span></p>
							</div>
							<div class="col-sm-12 col-xs-12 col-md-7 col-lg-7">
								<div id="googleMap" style="width:100%;height:195px;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="vidBox">
					<% if @first_video.present? && @first_video.youtube_url.present? %>
						<iframe width="100%" height="200" src="<%=@utube%>&showinfo=0&controls=0&rel=0&amp&&autoplay=1"></iframe>
						<%#= video_tag @utube, width: "100%",height: "200", autoplay: true,:loop => true%>
					<%else%>
						<iframe width="100%" height="200" src="https://www.youtube.com/embed/0cEKR4X1kVs?rel=0&amp;showinfo=0&autoplay=1&controls=0"></iframe>
					<%end%>
				</div>
				<%=link_to "CURRENT REQUIREMENTS",users_current_requirements_path(@college), class: "fliptwo blink", target: "_blank"%>


				<div class="Reviewbox PoStn">
					<div class="flipone">REVIEWS</div>
					<div class="panelone">
						<ul class="list-group">
							<% @reviews.each do |r| %>
								<li class="list-group-item list-group-item-success" data-toggle="modal" data-target="#" id="<%= r.id%>">
									<div class='star-rating' data-score=<%= r.rating %>></div>
									<p class="previewcust"><%= r.comment %></p>
									<% if r.reviewer_id.present? %>
										<h5 class="hfivecust"><%= User.find(r.reviewer_id).name %></h5>
									<% end %>
								</li>
							<% end %>
						</ul>
					</div>
				</div>

				<br/>
				<%= link_to 'Write a Review', "", "data-toggle"=>"modal", "data-target"=>"#reviewmodel", class: "btn btn-primary btn-sm" if current_user.present?%>

			</div>
		</div>
	</div>
</div>

<div id="reviewmodel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Review</h4>
      </div>
      <div class="modal-body">
       <div class="reviewBOx">
       		<%= render :partial => "reviews/form" ,:locals=>{:review => @review || Review.new } %>				
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key= AIzaSyDMEnG0GKj_YRFsOSmUBG-1dcMg57N2Qio&callback=myMap'%>



<script>
function myMap() {
	var myLatLng = {lat: <%= @college.latitude%>, lng: <%= @college.longitude%>};
	var mapProp= {
	    center:myLatLng,
	    zoom:12,
	};
	var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
	}
	var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
  
  });
</script>

<script type="text/javascript">
	
    $('.star-rating').raty({
      starOn: '<%= image_path('star-on.png') %>',
	  starOff: '<%= image_path('star-off.png') %>',
	  path: '',
      // path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
 
</script>

<style type="text/css">
	.PoStn{
		margin-top: 14px;
	}

.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* @end */

</style>