<div id="overview" class="active">
	<div class="row conserti">
		<div class="col-sm-12 consw">
			<div class="col-sm-12 col-xs-12 col-md-9 col-lg-9 ort">
				<div class="overviewBox">
					<span class="overview">Overview</span>
					<hr>
					<div class="row">
						<div class="col-sm-12">
							
							<div class="col-sm-12 col-xs-12 col-md-9 col-lg-9">
								<% if @college.overviews.present? %>
								<strong><p class="crdtxt"><%=@college.overviews.first.title %> </p></strong>
								<p class="crdtxt"><%=@college.overviews.first.description %> </p>
								<%else%>
								<p class="crdtxt">abcd</p>
								<%end%>
							</div>
						</div>
					</div>
				</div>
				
				<div class="overviewBox">
					<span class="overview">Videos</span>
					<hr>
					<div class="row">
						<div class="col-sm-12">
							<% if @videos.present? %>
								<% @videos.each do |video| %>
									<div class="col-sm-4 col-xs-12 col-md-4 ">
										<div class="img-thumbnail">
											<!-- <iframe width="100%" height="200" autoplay controls controlsList="nodownload" src="<%#= video.video%>"></iframe> -->
											<%= video_tag video.video, width: "100%",height: "200", autoplay: true,:loop => true%>
											<p class="desc"><%= video.description%></p>	
										</div>
									</div>
								<%end%>
							<%else%>
								<div class="col-sm-4 col-xs-12 col-md-4 ">
									<div class="img-thumbnail">
										<iframe width="100%" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0"></iframe>
		                             	<p class="desc">Demo Video</p>
									</div>
								</div>
								<div class="col-sm-4 col-xs-12 col-md-4 ">
									<div class="img-thumbnail">
										<iframe width="100%" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0"></iframe>
		                             	<p class="desc">Demo Video</p>
									</div>
								</div>
							<%end%>
						</div>
					</div>
				</div>
				
				<div class="CollegeBox">
					<span class="overview">Similar Schools</span>
					<hr>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<div class="carousel-inner">
							<div class="item active">
								<div class="row">
									<div class="col-sm-12">
										<%if @all_college.present? %>
											<% @all_college.each do |img| %>
												<div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
													<div class="building text-center">
														<%if img.profile_image.present?%>
															<a href="/users/show?id=<%= img.id %>"><%= image_tag img.profile_image, class: "img-responsive schBuilding"%><%= img.name %></a>
														<%else%>
															<a href="/users/show?id=<%= img.id %>">
															<%= image_tag("logo1.png",class: "img-responsive schBuilding")%></a>
														<%end%>
													</div>
												</div>
											<%end%>
										<%else%>
										 No Similar Colleges
										<%end%>
									</div>
								</div>
							</div>
							<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
							<a href="#" class="jcarousel-control-next">&rsaquo;</a>
						</div>
					</div>
				</div>
				
				<div class="overviewBox">
					<span class="overview">Contact Details of <%= @college.name if @college.name.present? %>,
						<% @city = City.find(@college.city_id) if @college.city_id.present?%>
						<%= @city.name.capitalize if @city.present?%>
					</span>
					<hr>
					<div class="row ">
						<div class="col-sm-12 col-md-12">
							
							<div class="col-sm-12 col-xs-12 col-md-5 col-lg-5">
								<p class="contact">Contact No:&nbsp;<span class="Detastpd"> <%= @college.phone_no if @college.phone_no.present?%></span></p>
								<p class="contact"> Email ID: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="Detastpd"><%= @college.email if @college.email.present?%></span></p>
								<p class="contact"> Website:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="Detastpd"><a target="_blank" class="HanD" href="<%= @college.website%>"><%= @college.website if @college.website.present?%></a></span></p>
								<p class="contact"> Address: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="Detastpd"><%= @college.address if @college.address.present?%></span></p>
							</div>
							<div class="col-sm-12 col-xs-12 col-md-7 col-lg-7">
							<div id="googleMap" style="width:100%;height:195px;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="vidBox">
					<% if @videos.present? %>
						<%= video_tag @videos.first.video, width: "100%",height: "200", autoplay: true,:loop => true%>
						<!-- <iframe width="100%" height="200" src="<%#= @videos.first.video%>"></iframe> -->
					<%else%>
						<iframe width="100%" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0"></iframe>
					<%end%>
				</div>
				<%=link_to "CURRENT REQUIREMENTS",users_current_requirements_path(@college), class: "fliptwo blink", target: "_blank"%>

				<div class="Reviewbox PoStn">
					<div class="flipone">REVIEWS</div>
					<div class="panelone">
					 	<ul class="list-group">
							<li class="list-group-item list-group-item-success">First item <span class="badge">12</span></li>
							<li class="list-group-item list-group-item-info">Second item <span class="badge">12</span></li>
							<li class="list-group-item list-group-item-warning">Third item <span class="badge">12</span></li>
							<li class="list-group-item list-group-item-danger">Fourth item <span class="badge">12</span></li>
							<li class="list-group-item list-group-item-success">First item <span class="badge">12</span></li>
							<li class="list-group-item list-group-item-info">Second item <span class="badge">12</span></li>
							<li class="list-group-item list-group-item-warning">Third item <span class="badge">12</span></li>
							<li class="list-group-item list-group-item-danger">Fourth item <span class="badge">12</span></li>
							<li class="list-group-item list-group-item-success">First item <span class="badge">12</span></li>
							<li class="list-group-item list-group-item-info">Second item <span class="badge">12</span></li>
							<li class="list-group-item list-group-item-warning">Third item <span class="badge">12</span></li>
							<li class="list-group-item list-group-item-danger">Fourth item <span class="badge">12</span></li>
						</ul> 
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key= AIzaSyDMEnG0GKj_YRFsOSmUBG-1dcMg57N2Qio&callback=myMap'%>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script> -->

<script>
function myMap() {
	var myLatLng = {lat: <%= @college.latitude%>, lng: <%= @college.longitude%>};
var mapProp= {
    center:myLatLng,
    zoom:12,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
  
  });

</script>

<style type="text/css">
	.PoStn{
		margin-top: 14px;
	}

.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* @end */
-->
</style>