<div id="placement" >
	<div class="container">
		<div class="row overviewBox">
			<div class="tabOx">
				<div class="table-responsive">          
					<table class="table table-striped">
						<thead>
						  <tr>
							<th>TITLE</th>
							<th>CHALLENGES</th>
							<th>STUDENT QUALIFIED</th>
							<th>TOTAL STUDENTS</th>
							<th>YEAR</th>
							<th>MILESTONES</th>
						  </tr>
						</thead>
						<tbody>
							<% if @placement.present? %>
								<% @placement.each do |place|%>
								  	<tr>
										<td><%= place.title%></td>
										<td><%= place.companies_visited%></td>
										<td><%= place.students_placed%></td>
										<td><%= place.total_students%></td>
										<td><%= place.year%></td>
										<td><%= place.description%></td>
								  	</tr>
							  	<%end%>
							<%else%>
								<tr>
									<td>No Data Yet</td>
									<td>No Data Yet</td>
									<td>No Data Yet</td>
									<td>No Data Yet</td>
									<td></td>
								</tr>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>