<title>EDUORACLE</title>

<%= stylesheet_link_tag  "http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,400italic,600,300italic,300|Oswald:400,300,700" %>
<%= stylesheet_link_tag  "bootstrap.min" %>
<%= stylesheet_link_tag  "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
<%= stylesheet_link_tag  "style" %>

<script type="text/javascript">
$(document).ready(function() {    

		var id = '#dialog';
	
		//Get the screen height and width
		var maskHeight = $(document).height();
		var maskWidth = $(window).width();
	
		//Set heigth and width to mask to fill up the whole screen
		$('#mask').css({'width':maskWidth,'height':maskHeight});
		
		//transition effect		
		$('#mask').fadeIn(500);	
		$('#mask').fadeTo("slow",0.9);	
	
		//Get the window height and width
		var winH = $(window).height();
		var winW = $(window).width();
              
		//Set the popup window to center
		$(id).css('top',  winH/2-$(id).height()/2);
		$(id).css('left', winW/2-$(id).width()/2);
	
		//transition effect
		$(id).fadeIn(2000); 	
	
	//if close button is clicked
	$('.window .close').click(function (e) {
		//Cancel the link behavior
		e.preventDefault();
		
		$('#mask').hide();
		$('.window').hide();
	});		
	
	//if mask is clicked
	$('#mask').click(function () {
		$(this).hide();
		$('.window').hide();
	});		
	
});
</script>

<style type="text/css">
	.img-respomsive.Companylg.stdImG{
		width: 50px;
	}
</style>

<%=render "layouts/header"%>

<body data-spy="scroll" data-target=".main-nav">
		
	<section class="home" id="home" data-stellar-background-ratio="0.4">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="st-home-unit">
						
    <!-- <div class="col-sm-offset-8 col-sm-4">
    <%#= form_tag root_path, method: :get do %>
      <div class="form-group">
        <%#= text_field_tag 'query', nil, placeholder: 'Enter search term...', class:"SEArchbarwdt"%>

        <%#= submit_tag 'Search', class: "btn btn-primary" %>
							<%#= link_to "Search", users_search_path %>
        
      </div>
    <%# end %>
  </div> -->
  <%#= link_to "Search", users_search_path %>
						<h1 class="edutetitle">Discover The Best</h1>
						<form class="form-wrapper cf">
							<%= form_tag users_search_path(:controller => 'users', :action => 'search'), method: :get do %>
							<!-- <select> -->
								<%#= select( School.all.collect(&:city)) %>
								<%= select("user", "city", @city.map{|city| city.titleize},{:prompt => 'Select Location'} ,{class: "fa fa-map-marker"}) %>
							<!-- </select> -->
							
								<%= select("user", "role", @role.map{|role| role.titleize},{:prompt => 'I am ..'},class: "fa") %>

								<%= select("user", "search_role", @role.map{|role| role.titleize},{:prompt => 'Searching for '},class: "fa") %>

							<!-- <button type="submit">Search</button> -->

							<!-- <button type="submit">Search</button> -->
							<%= submit_tag 'Search', class: "btn btn-primary" %>
						</form>		
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container-fluid scrolltext">
		<div class="row scrollcontent">
			<marquee  direction="left" behavior="scroll">
			<p class="marquetxt">Powered By Tabashi Technology Pvt Ltd. All right Reserved 2018......</p> 
			</marquee>
		</div>
	</div>

 <%= render 'users/connectedu'%>
 	
		
<div class="container-fluid contboderone">
	<h3 style="text-align:center;">RECENTLY ADDED SCHOOLS</h3>
	<div class="row RowMarginzero">

		<% @school.each do |school|%>
			<div class="col-sm-6 col-md-3">
				<div id="wrapper">
					<div class="cards">
						<div class="card-header">
							<div class="card-header-mask">
								<!-- <div class="card-header-date">
								<div class="card-header-date-day">12</div>
								<div class="card-header-date-month">May</div>
								</div> -->
							</div>
						</div>
						<div class="card-body">
							<div class="card-body-header">
								<div class="card-body-header-category">
									<!-- <img class="img-respomsive Companylg" src="/assets/aj.jpg"> -->
									<% if school.profile_image.present?%>
									<%= image_tag school.profile_image ,class: "img-respomsive Companylg" %>
									<%else%>
									<img class="img-respomsive Companylg" src="/assets/aj.jpg">
									<%end%>
								</div>
								<p class="card-body-header-sentence">
									<span><%= school.name %></span>
								</p>
								<h5 class="hfivestyle"><%= school.description.first(150) if school.description.present? %>..</h5>
								<a href="#" target="_blank" class="custanchor">read more...</a>
							</div>
							<div class="card-body-footer">
								<div class="row">
									<div class="col-md-4 col-xs-4 text-center">
										<ul class="soclmd" style="display: none;">
										<a href="#"><li><i class="fa fa-facebook-square"></i></li></a>
										<a href="#"><li><i class="fa fa-twitter"></i></li></a>
										<a href="#"><li><i class="fa fa-whatsapp"></i></li></a>
										<a href="#"><li><i class="fa fa-envelope-o"></i></li></a>
										<a href="#"><li><i class="fa fa-linkedin"></i></li></a>
										</ul>
										<span class="socxialtoggle"><i aria-hidden="true" class="fa fa-share-alt"></i></span>
									</div>
									<div class=" col-md-8 col-xs-8 text-center">
										<a target="_blank" href="viewjobs.html">
										<span class="Footeranchor">Open in a new tab</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%end%>
	</div>


<div class="row explorebtnrw">
<a class="text-center" href="#"><button class="btn btn-primary prmbtnsty">VIEW ALL</button></a>
</div>
</div>



	<%#= render 'users/welcomeedu'%>
	
	<%#= render 'users/schools'%>
	<%= render 'users/teachers'%>
	<%= render 'users/students'%>
	<%= render 'users/vendors'%>
	<%#= render 'users/contact'%>
	<%=render "layouts/footer"%>

	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-lg">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-body">
	        <p>Some text in the modal.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	  
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "bootstrap.min" %>
<%= javascript_include_tag "jquery.stellar" %>
<%= javascript_include_tag "jquery.appear" %>
<%= javascript_include_tag "jquery.nicescroll.min" %>
<%= javascript_include_tag "script" %>
   

<script type="text/javascript">
	$(window).load(function(){        
	$('#myModal').modal('show');
	}); 
</script>

 <script type="text/javascript">
 	window.onload = function() {
  var startPos;
  var geoSuccess = function(position) {
    startPos = position;
    document.getElementById('startLat').innerHTML = startPos.coords.latitude;
    document.getElementById('startLon').innerHTML = startPos.coords.longitude;
  };
  navigator.geolocation.getCurrentPosition(geoSuccess);
};

</script> 