<title>Search</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag  "bootstrap.min" %>
<%= stylesheet_link_tag  "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
<%= stylesheet_link_tag  "header" %>
	  
<style type="text/css">

    .container-fluid.Filtercont {
       background: #f4f3f2 none repeat scroll 0 0;
        }
	.container-fluid.filterschool {
  padding: 0 0 50px;
}
      
      p {
	  margin-bottom: 26px;
	  word-wrap: break-word;
	}
	.smallbox {
	  border: 1px solid;
	  border-radius: 8px;
	  padding: 7px;
	}
	.bigbox {
	  border: 1px solid;
	  border-radius: 8px;
	  margin-bottom: 10px;
	  padding: 10px;
	}
	.img-responsive.collglogo {
	  width:80px;
	}
	.col-md-12.Anxtysf {
	  padding: 20px 0 2px;
	  
	}
	.btn.btn-primary.TxtceNtr {
	  float: right;
	}
	
	.paDtpZeRo {
margin-top: 0 !important;
}
</style>

<%= render :partial => "layouts/header", :locals => { :active => 'Home' }%>
	<section class="home" id="home" data-stellar-background-ratio="0.4">
	</section>

	<div class="container-fluid Filtercont">
		<div class="container-fluid filterschool">
			<div class="row">
				<div class="col-md-12">
					<% unless @school.blank? %>
						<%if @school.first.role_name == "1"%>
							<div class="col-md-2">
								<h3>Stream</h3>
						    	<div class="smallbox">
						    		<!-- <input type="search" class="form-control" name="googlesearch" placeholder="search">	 -->
						    		<% @streams.each do |stream|%>
							     		<div class="checkbox">
						      			<label class="labelfontsize">
						      			 	<%= check_box_tag 'stream[]',stream.id, checked = false, class: 'filter-checkbox'%>
						      				<%= stream.stream_name%>
						      			</label>
							    		</div>
					        		<%end%>
					        	</div>
									<!-- <h3>Degree</h3>
							    	<div class="smallbox">
							    		<input type="search" class="form-control" name="googlesearch" placeholder="search">	
							    		<% #@degrees.each do |degree|%>
								     		<div class="checkbox">
								      			<label class="labelfontsize"><input type="checkbox" class="paDtpZeRo"><%#= degree.degree_name %></label>
								    		</div>
						        		<%#end%>
						        	</div> -->
						        	<!-- <h3>Course</h3>
							    	<div class="smallbox">
							    		<input type="search" class="form-control" name="googlesearch" placeholder="search">	
							    		<%# @courses.each do |course|%>
								     		<div class="checkbox">
								      			<label class="labelfontsize"><input type="checkbox" class="paDtpZeRo"><%#= course.course_name %></label>
								    		</div>
						        		<%#end%>
						        	</div> -->
	              				<!-- <h3>Fee Structure</h3>
				              	<%# @avg.each do |avg|%>
							    	<div class="smallbox">
							    		<input type="search" class="form-control" name="googlesearch" placeholder="search">	
							     		<div class="checkbox">
							      			<!-- <label class="labelfontsize"><input type="checkbox" class="paDtpZeRo" id="1"><span style='font-family:Arial;'>&#8377;</span><%#=number_with_delimiter(avg)%></label> -->
							      			<!-- <label class="labelfontsize">
							      				<%#= check_box_tag 'avg[]',avg,checked = false, class: 'filter-checkbox'%>
							      				<span style='font-family:Arial;'>&#8377;</span>
							      				<%#=number_with_delimiter(avg)%>
							      			</label> -->
							      			<!-- <label class="labelfontsize"><input type="checkbox" class="paDtpZeRo" id="2">50K to 1Lac</label>
							      			<label class="labelfontsize"><input type="checkbox" class="paDtpZeRo" id="2">1Lac to 1.5Lac</label>
							      			<label class="labelfontsize"><input type="checkbox" class="paDtpZeRo" id="2">More than 1.5Lac</label> -->
							    		<!-- </div>
						        	</div>
	        					<%#end%> --> 
							        <!-- <h3>Type</h3>
								    	<div class="smallbox">
								    		<input type="search" class="form-control" name="googlesearch" placeholder="search">	
								    		<%# @type.each do |ty|%>
								     		<div class="checkbox">
								     			<%#if ty.present? %>
								      				<label class="labelfontsize"><input type="checkbox" class="paDtpZeRo" id="1">Regular</label>
								      			<%#else%>
								      				<label class="labelfontsize"><input type="checkbox" class="paDtpZeRo" id="2">Correspondence</label>
								      			<%#end%>
								    		</div>
								    		<%#end%>
							        </div> -->
				        		<h3>Affiliation</h3>
						    	<div class="smallbox">
						    		<!-- <input type="search" class="form-control" name="googlesearch" placeholder="search">	 -->
						    		<% @affilations.each do |aff|%>
							     		<div class="checkbox">
							     			<label class="labelfontsize">
							      			<!-- <label class="labelfontsize"><input type="checkbox" class="paDtpZeRo" id="1"><%#= aff%></label> -->
								      			<%= check_box_tag 'aff[]',aff,checked = false, class: 'filter-checkbox'%>
								      			<%= aff%>
									      	</label>
							    		</div>
						    		<%end%>
					        	</div>
						    </div>							      
					    <%elsif @school.first.role_name == "2"%>
					    	<div class="col-md-2">
					        	<h3>Subject</h3>
						    	<div class="smallbox">
						    		<!-- <input type="search" class="form-control" name="googlesearch" placeholder="search">	 -->
						    		<% @subject.each do |subject|%>
							     		<div class="checkbox">
							      			<label class="labelfontsize"><%= check_box_tag 'subjects[]',subject,checked = false, class: 'filter-checkbox'%><%= subject%>
							      			</label>
							    		</div>
						    		<%end%>
					        	</div>
					        </div>
					    <%elsif @school.first.role_name == "3"%>
					    	<div class="col-md-2">
					        	<h3>Class</h3>
						    	<div class="smallbox">
						    		<!-- <input type="search" class="form-control" name="googlesearch" placeholder="search">	 -->
						    		<% @class.each do |cls|%>
							     		<div class="checkbox">
							      			<label class="labelfontsize">
								      			<%= check_box_tag 'class[]',cls,checked = false, class: 'filter-checkbox'%>
								      			<%= cls %>
							      			</label>
							    		</div>
						    		<%end%>
					        	</div>
					        </div>
					    <%elsif @school.first.role_name == "4"%>
					    	<div class="col-md-2">
					        	<h3>Services</h3>
						    	<div class="smallbox">
						    		<!-- <input type="search" class="form-control" name="googlesearch" placeholder="search">	 -->
						    		<% @services.each do |service|%>
							     		<div class="checkbox">
							      			<label class="labelfontsize">
								      			<%= check_box_tag 'services[]',service,checked = false, class: 'filter-checkbox'%>
								      			<%= service%>
							      			</label>
							    		</div>
						    		<%end%>
					        	</div>
					        </div>
					    <%end%>
					<%end%>
					<div class="search_filter_div">
			      <%= render "users/search_filter" %>						
					</div>
			        <!-- <div id="search_res" class="col-md-10" style="display:none;">
			        	<%#= render "users/search_filter" %>
			        </div> -->	
			        <div class="text-center">
			       		<p class="text-center"><%= will_paginate @school %></p>
			   		</div>
			    </div>
			</div><!-- row end -->	
		</div>
	</div>

<%=render "layouts/footer"%>

<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "bootstrap.min" %>
<%= javascript_include_tag "jquery.stellar" %>
<%= javascript_include_tag "jquery.appear" %>
<%= javascript_include_tag "jquery.nicescroll.min" %>
<%= javascript_include_tag "script" %>

<script type="text/javascript">
  $(document).on("change", ".filter-checkbox", function(){
   	var streams = [];
	var st =  document.getElementsByName('stream[]');
	for(var i=0; st[i]; ++i){
	    if (st[i].checked) {
      		streams.push(st[i].value);
      	}
	}
	var fees = [];
	var fe =  document.getElementsByName('avg[]');
	for(var i=0; fe[i]; ++i){
	    if (fe[i].checked) {
      		fees.push(fe[i].value);
      	}
	}
	var affs = [];
	var af =  document.getElementsByName('aff[]');
	for(var i=0; af[i]; ++i){
	    if (af[i].checked) {
      		affs.push(af[i].value);
      	}
	}
	var subjs = [];
	var sub =  document.getElementsByName('subjects[]');
	for(var i=0; sub[i]; ++i){
	    if (sub[i].checked) {
      		subjs.push(sub[i].value);
      	}
	}
	var clss = [];
	var cls =  document.getElementsByName('class[]');
	for(var i=0; cls[i]; ++i){
	    if (cls[i].checked) {
      		clss.push(cls[i].value);
      	}
	}
	var servcs = [];
	var ser =  document.getElementsByName('services[]');
	for(var i=0; ser[i]; ++i){
	    if (ser[i].checked) {
      		servcs.push(ser[i].value);
      	}
	}
  	// alert("hiii");
    $.ajax({
      url: "/users/filter",
      method: "GET",
      // dataType: "JSON",
      // beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      data: {str: streams, fee: fees, affilations: affs, subjects: subjs, classes: clss, services: servcs},
      success: function (response,status) {
      	// alert("hiii");
       //  alert(status);
       //  console.log(response);
       //  // $("#search_filter_div").html("<%#= escape_javascript(render(partial: 'search_filter', locals: { some_variable: @some_variable}))%>")
      },
      error: function (xhr, status, error) {
      	alert("hii");
        alert('AJAX Error: ' + status + error);
      }
    });



    // $.ajax({
    //   type: 'GET',
    //   url: $('#user_id').val(),
    //   data: {
    //     sort: $('option:selected', this).val()
    //   }
    // }).done(function(data) {
    //   console.log(data);
    // });




  });
</script>