
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>student</title>
	
<%= stylesheet_link_tag  "bootstrap.min" %>
<%= stylesheet_link_tag  "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
<%= stylesheet_link_tag  "student" %>
<%= stylesheet_link_tag  "style" %>


	<div class="container-fluid bg">
	
		<div class="stuB">
		<%=render "layouts/header"%>
			<div class="stuBbanner">
			
		`		<div class="logo">
					<img src="/assets/su.jpg" class="img-circle stygfh" width="110" height="110" border="0" alt="profile image">
				</div>
			</div>
			<div class="row trt">
				<h3>SUPRIYA RANI</h3>
				<h4 class="H4cuStom">INDIA</h4>
			</div>
			
			<div class="row darf">
				<div class="col-sm-12">
					<div class="col-sm-6 col-xs-12 col-lg-6 colrd">
						<div class="colB">
							
							<ul class="list-group">
								<li class="list-group-item custlist"><b>Email : </b> supriyaranii60@gmail.com</li>
								<li class="list-group-item custlist"><b>Phone : </b> 7903577787</li>
								<li class="list-group-item custlist"><b>Class : </b> XII</li>
								<li class="list-group-item custlist"><b>Gender : </b> Female</li>
							</ul>
						
						</div>
					</div>
					<div class="col-sm-6 col-xs-12 col-lg-6 colrd">
						<div class="colB">
							
							<ul class="list-group">
								
								<li class="list-group-item custlist"><b>City : </b> Bangalore</li>
								<li class="list-group-item custlist"><b>State : </b>Karnataka</li>
								<li class="list-group-item custlist"><b>Country : </b>India</li>
								<li class="list-group-item custlist"><b>Address : </b>#7, 3rd A cross, 31st main, sri lakshmi narasimha pg, btm 2nd stage, bangalore</li>
							</ul>
						
						</div>
					</div>
			</div>
		</div>
	</div>
	</div>
	<%=render "layouts/footer"%>
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "bootstrap.min" %>
<%= javascript_include_tag "jquery.stellar" %>
<%= javascript_include_tag "jquery.appear" %>
<%= javascript_include_tag "jquery.nicescroll.min" %>
<%= javascript_include_tag "script" %>	
	
