
<title>Overview</title>

<%= stylesheet_link_tag  "bootstrap" %>
<%= stylesheet_link_tag  "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
<%= stylesheet_link_tag  "styles" %>
<%= stylesheet_link_tag  "main" %>
<%= stylesheet_link_tag  "metisMenu" %>
<%= stylesheet_link_tag  "onoffcanvas" %>
<%= stylesheet_link_tag  "animate" %>
<%= stylesheet_link_tag  "style-switcher" %>

<div class="bg-dark dk" id="wrap">
  <div id="top">
    <!-- .navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <header class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand"><img src="/assets/logo.png" alt=""></a>
        </header>
        <div class="topnav">
          <div class="btn-group">
            <a data-toggle="modal" data-original-title="Help" data-placement="bottom" class="btn btn-default btn-sm" href="#helpModal">
                <i class="fa fa-question"></i>
            </a>
          </div>
          <div class="btn-group">
            <%= link_to "",destroy_user_session_path,class: "btn btn-metis-1 btn-sm fa fa-power-off" %>
          </div>
          <div class="btn-group">
            <a data-placement="bottom" data-original-title="Show / Hide Left" data-toggle="tooltip"
               class="btn btn-primary btn-sm toggle-left" id="menu-toggle">
                <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- /.navbar -->
    <header class="head">
      <div class="search-bar">
      </div>
      <!-- /.search-bar -->
      <div class="main-bar">
        <h3>
          <i class="fa fa-dashboard"></i>&nbsp;
          Dashboard
        </h3>
      </div>
      <!-- /.main-bar -->
    </header>
    <!-- /.head -->
  </div>
  <!-- /#top -->
  <div id="left">
    <div class="media user-media bg-dark dker">
      <div class="user-media-toggleHover">
          <span class="fa fa-user"></span>
      </div>
      <div class="user-wrapper bg-dark">
        <a class="user-link" href="">
            <img class="media-object img-thumbnail user-img" alt="User Picture" src="/assets/user.gif">
            <span class="label label-danger user-label">16</span>
        </a>
        <div class="media-body">
            <h5 class="media-heading"><%= current_user.name%></h5>
            <ul class="list-unstyled user-info">
                <li><%= current_user.role%></li>
            </ul>
        </div>
      </div>
    </div>
    <!-- #menu -->
    <ul id="menu" class="bg-blue dker">
      <li class="nav-divider"></li>  
        <li class="active">
          <a href="dashboard.html">
            <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Dashboard</span>
          </a>
        </li>
        <li class="">
          <a href="javascript:;">
            <i class="fa fa-building "></i>
            <span class="link-title">Layouts</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="collapse">
            <li>
              <a href="overview.html">
                <i class="fa fa-angle-right"></i>&nbsp;Overview</a>
            </li>
            <li>
              <a href="courses.html">
                <i class="fa fa-angle-right"></i>&nbsp; Courses</a>
            </li>
            <li>
              <a href="scholar.html">
                <i class="fa fa-angle-right"></i>&nbsp; Scholarship</a>
            </li>
            <li>
              <a href="placement.html">
                <i class="fa fa-angle-right"></i>&nbsp; Placement</a>
            </li>
            <li>
              <a href="school_cutoff.html">
                <i class="fa fa-angle-right"></i>&nbsp; Cutoff</a>
            </li>
            <li>
              <a href="school_campus.html">
                <i class="fa fa-angle-right"></i>&nbsp; Campus</a>
            </li>
            <li>
              <a href="school_news.html">
                <i class="fa fa-angle-right"></i>&nbsp; News</a>
            </li>
            <li>
              <a href="school_pic.html">
                <i class="fa fa-angle-right"></i>&nbsp; Pictures</a>
            </li>
            <li>
              <a href="school_video.html">
                <i class="fa fa-angle-right"></i>&nbsp; Videos</a>
            </li>
          </ul>
        </li>
        <li class="">
          <a href="teachers_list.html">
            <i class="fa fa-tasks"></i>
            <span class="link-title">Teachers</span>
          </a>
        </li>
        <li class="">
          <a href="student_list.html">
            <i class="fa fa-pencil"></i>
            <span class="link-title">School</span>
          </a>
        </li>
        <li>
          <a href="vendor_list.html">
            <i class="fa fa-table"></i>
            <span class="link-title">Vendors</span>
          </a>
        </li>
        <li>
          <a href="total_earn.html">
            <i class="fa fa-font"></i>
            <span class="link-title">Total Earning</span>
          </a>
        </li>
        <li class="nav-divider"></li>
    </ul>
    <!-- /#menu -->
  </div>
  <!-- /#left -->
  <div id="content">
    <div class="outer">
      <div class="inner bg-light lter">
        <h4>Cutoff</h4>
        <hr>
        <%= form_for(@cutoff, url: school_cutoff_path) do |f| %>
          <div class="row vdiocont">    
            <div class="form-group margunrve">
              <label for="email">Name</label>
              <%=f.text_field :name, class: "form-control",placeholder: "Name" %>
            </div>
            <div class="form-group margunrve">
              <label for="pwd">Category</label>
              <%=f.text_field :category, class: "form-control",placeholder: "Category" %>
            </div>
            <div class="form-group margunrve">
              <label for="text">Rank</label>
              <%=f.text_field :rank, class: "form-control",placeholder: "Rank" %>
            </div>
            <div class="form-group margunrve">
              <label for="text">No of Examination</label>
              <%=f.text_field :examination, class: "form-control",placeholder: "No of Examination" %>
            </div>
            <div class="form-group margunrve">
              <label for="text">Percentage of 12th</label>
              <%=f.text_field :percentage, class: "form-control",placeholder: "Percentage of 12th" %>
            </div>
           <div class="form-group margunrve text-center">
            <%=f.submit "Submit", class: "btn btn-default"%>
            <button type="submit" class="btn btn-default">cancel</button>
          </div>
        </div>
      <%end%>   
      <hr>
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.outer -->
  </div>
</div>
<!-- /#wrap -->
<footer class="Footer bg-dark dker">
    <p>2017 &copy; Tabashi Technology Private Limited</p>
</footer>
<!-- /#footer -->
<!-- #helpModal -->
<div id="helpModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
          </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
            
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "bootstrap" %>
<%= javascript_include_tag "metisMenu" %>
<%= javascript_include_tag "onoffcanvas" %>
<%= javascript_include_tag "core" %>
<%= javascript_include_tag "app" %>
<%= javascript_include_tag "style-switcher" %>
<%= javascript_include_tag "counter" %>