<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        &copy; <a href="https://www.cantothemes.com"></a> 2018.Eduoracle Educational Services Pvt. Ltd.
        All rights reserved.
      </div>
    </div>
  </div>
</footer>
<footer class="site-footerone">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <h4 class="hfclsd">Contact Us</h4>
          <p class="margzero">support@eduoracle.com</p>
          <p class="margzero">9916581681</p>
        <!--  <p class="margzero">Fax No : 675890829</p>-->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
        <h4 class="hfclsd">Eduoracle</h4>
        <a href="#" class="anChstyle">Privacy Policy</a>  
        <a href="#" class="anChstyle">Terms & Conditions - Refund Policy</a> 
        </div>
        
        
       
        <div class="col-md-3 col-sm-6 col-xs-6">
          <h4 class="hfclsd">Address</h4>
         <address>
            Flat No- s 36,C block, PSR ASter,Chambenahalli,Anekal Taluq<br>Bangloare 562125
           
          </address>
        </div> 
         <div class="col-md-3 col-sm-6 col-xs-6">
          <h4 class="hfclsd">Social Connect</h4>
          <a href="#" class="">
            <%= image_tag("facebook.png",class: "img-responsive smediasixe") %>
          </a>
          <a href="#" class="">
            <%= image_tag("twitter.png",class: "img-responsive smediasixe") %>
          </a>  
          <a href="#" class="">
            <%= image_tag("google-plus.png",class: "img-responsive smediasixe") %>
          </a>  
          <a href="#" class="">
            <%= image_tag("pinterest.png",class: "img-responsive smediasixe") %>
          </a>
          <a href="#" class="platsytr">
            <%= image_tag("play.png",class: "img-responsive playimgsize") %>
          </a>
        </div>   
      </div>
    </div>
  </div>
</footer>