<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        &copy; <a href="https://www.cantothemes.com"></a> 2018.Eduoracle Educational Services Pvt. Ltd.
        All rights reserved.
      </div>
      <div class="col-md-12">
        Powered by <%= link_to "Tabashi Technology Pvt. Ltd.", "http://tabashitechnology.com/", target: '_blank' %>
      </div>
    </div>
  </div>
</footer>
<footer class="site-footerone">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <h4 class="hfclsd">Contact Us</h4>
          <p class="margzero">support@eduoracle.com</p>
          <p class="margzero">9916581681</p>
        <!--  <p class="margzero">Fax No : 675890829</p>-->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
        <h4 class="hfclsd">Eduoracle</h4>
        <a href="#" class="anChstyle">Privacy Policy</a> 
        <%=link_to "Terms & Conditions - Refund Policy", users_terms_conditions_path %> 
        <%=link_to "FAQ",users_fas_path,class: "anChstyle" %> 
<!--        <a href="#" class="anChstyle">FAQ</a> 
 -->       </div>
        
        
       
        <div class="col-md-3 col-sm-6 col-xs-6">
          <h4 class="hfclsd">Address</h4>
         <address>
            Flat No- s 36,C block, PSR ASter,Chambenahalli,<br>Anekal Taluq<br>Bangloare 562125           
          </address>
        </div> 
         <div class="col-md-3 col-sm-6 col-xs-6">
          <h4 class="hfclsd">Social Connect</h4>
            <a href="https://www.facebook.com/Eduoracle-570021286704944/?modal=admin_todo_tour" target="_blank">
            <%= image_tag("facebook.png",class: "img-responsive smediasixe") %>
          </a>
          <a href="https://twitter.com/GauravEduoracle" target="_blank">
            <%= image_tag("twitter.png",class: "img-responsive smediasixe") %>
          </a>  
          <a href="https://plus.google.com/u/0/114749764469390654188" target="_blank">
            <%= image_tag("google-plus.png",class: "img-responsive smediasixe") %>
          </a>  
          <a href="https://www.linkedin.com/company/eduoracle/" target="_blank">
            <%= image_tag("linkedin.png",class: "img-responsive smediasixe") %>
          </a>
          <a href="#" class="platsytr" target="_blank">
            <%= image_tag("play.png",class: "img-responsive playimgsize") %>
          </a>
        </div>   
      </div>
    </div>
  </div>
</footer>